
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.shape{
    border: solid 1px;
    background-color: #395b64;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin-left: 34%;
}
.screen{
    border: solid 1px;
    height: 150px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: black;
}
#output{
    font-size: xx-large;
    color: white;
    text-align: right;
}
